
# Windows temporary files
*.DS_Store

# Unix temporary files
*~

# Main configuration file
config.php

# Daemon lock
scripts/.statemapper.lock

# Bulletins
bulletins/*

# Allow customizing the .gitignore
.gitignore
